@model List<Product>

@{
    ViewData["Title"] = "Product/Index";
}

<div class="container mt-5">
        <div class="row">
            <div class="card-list">
				@foreach (var product in Model)
				{
					@await Html.PartialAsync("Partials/_ProductCard", product)
				}
            </div>
        </div>
</div>

