@model List<Product>

@{
    ViewData["Title"] = "Product/Index";
}

<div class="container">
    <div class="card t-card">
        <div class="row gx-2 ">
            <div class="col-lg-12">
                <!-- menu -->
                @foreach (var product in Model)
                {
                    @await Html.PartialAsync("Partials/_ProductCard", product)
                }
            </div>
        </div>
    </div>
</div>

