:root {
    --white: #fff;
    --black: #000;
    --yellow-gold: #E6CA97;
    --white-gold: #D9D9D9;
    --rose-gold: #E1A4A9;
}

.btn .active {
    border-color: black;
}

.btn {
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    height: 25px;
}

.btn-yellow {
    background-color: var(--yellow-gold) !important;
}

.btn-white {
    background-color: var(--white-gold) !important;
}

.btn-rose {
    background-color: var(--rose-gold) !important;
}
.rating i {
    color: #ccc;
    font-size: 15px;
    margin-right: 3px;
}

    .rating i.filled {
        color: #fc0;
    }

.card-list {
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    padding: 10px;
}

.card {
    flex: 0 0 350px; 
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    padding-top: 60px;
    height: 100%;
    z-index: 1;
}


